.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.hidden() {
  display: none;
}

.container() {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  
  @media @tablet {
    width: 640px;
  }

  @media @desktop {
    width: 960px;
  }
}