.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.hidden() {
  display: none;
}

.set-link-style(@color, @text-decoration: none) {
  color: @color;
  text-decoration: @text-decoration;

  &:hover {
    color: @color;
    text-decoration: @text-decoration;
  }

  &:active {
    color: @color;
    text-decoration: @text-decoration;
  }
}