.features {
  
  margin-bottom: 30px;
  background: @color-bg;
  
  &__container {
    .container();
    padding-top: 30px;
  }
  
  &__item {
    padding-left: 50px;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    font-weight: @font-normal;
    color: @color-text;
  }
  
  &__item-title {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 26px;
    font-weight: @font-bold;
  }
  
  &__item-desc {
    margin-bottom: 30px;
  }
  
}