.gallery {
  
  &__item {
    margin-bottom: 20px;
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
  }
  
  &__item-container {
    .container();
  }
  
  &__item-image {
    margin: 0;
    margin-bottom: 18px;
  }
  
  &__item-title {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    font-weight: @font-bold;
    color: @color-text;
  }
  
  &__item-auth {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    font-weight: @font-normal;
    color: @color-text;
  }
  
  &__item-likes {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    font-weight: @font-bold;
    color: @color-text;
  }
  
  /*&__item-likes-label {
    .hidden();
  }*/
}