.gallery {
  
}

.gallery__item-container {
  .container();
}

.gallery__item {
  margin-bottom: 20px;
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}

.gallery__item-image {
  margin: 0;
  margin-bottom: 18px;
}

.gallery__item-title {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  font-weight: @font-bold;
  color: @color-text;
}

.gallery__item-auth {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  font-weight: @font-normal;
  color: @color-text;
}

.gallery__item-likes {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  font-weight: @font-bold;
  color: @color-text;
}

/*.gallery__item-likes-label {
  .hidden();
}*/