.info {
  text-align: center;
}

.info__container {
  .container();
  margin-bottom: 50px;
  padding-top: 28px;
}

.info__title {
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-bold;
  color: @color-text;
}

.info__message {
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-normal;
  color: @color-text;
}

.info__find-hotel-btn {
  display: block;
  padding: 5px 16px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-bold;
  color: @color-text-secondary;
  background: @color-bg-secondary;
  border: none;

  &:hover {
    color: @color-text-secondary;
    background: @color-bg-secondary;
    border: none;
  }

  &:active {
    color: @color-text-secondary;
    background: @color-bg-secondary;
    border: none;
  }
}

.info__map {
  min-height: 350px;
  background: transparent url(../img/bg-map-mobile@1x.jpg) no-repeat 50% 0px;
  background-size: 320px auto;
}

@media @tablet {
  .info__map {
    background: transparent url(../img/bg-map-tablet@1x.jpg) no-repeat 50% 0px;
    background-size: 768px auto;
  }
}

@media @desktop {
  .info__map {
    background: transparent url(../img/bg-map-desktop@1x.jpg) no-repeat 50% 0px;
    background-size: 1200px auto;
  }
}
