.page-content {
  .container();
  
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-normal;
  color: @color-text;
  
  &__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: @font-bold;
  }
  
  &__desc {
    margin-bottom: 30px;
  }
}

