.page-footer {
  .container();
  padding-top: 36px;
  padding-bottom: 32px;
}

.page-footer__contacts {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.page-footer__contact-link {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-bold;
  color: @color-text;

  &:hover {
    color: @color-text;
  }

  &:active {
    color: @color-text;
  }
}

.page-footer__copyright {
  display: block;
  text-align: center;
}

.page-footer__copyright-link {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-normal;
  color: @color-text;

  &:hover {
    color: @color-text;
  }

  &:active {
    color: @color-text;
  }
}

.page-footer__social {
  margin-bottom: 45px;
  padding: 0;
  text-align: center;
}

/*.page-footer__copyright-company {
  .hidden();
}*/