.stats {
  @color: @color-text;
  
  &__item-title {
    .container();
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: @font-bold;
    color: @color;
  }
  
  &__item-desc {
    .container();
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-weight: @font-normal;
    color: @color;
  }
  
  &__item-counter {
    .container();
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-weight: @font-normal;
    color: @color;
  }
  
  &__item-image {
    text-align: center;
  }
}