.video {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.video__container {
  .container();
  margin-bottom: 36px;
  padding-top: 36px;
}

.video__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-bold;
  color: @color-text;
}

.video__desc {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: @font-normal;
  color: @color-text;
}